main div img {
    margin-left:20%;
}

main div p, h1{
    margin: 20px 0;
    max-width: 80%;
    line-height: 1.5;
}
main div button{
    background-color: #415aca;
    width: 150px;
    border: none;
    color: #fff;
    border-radius: 24px;
    height: 35px;
}